aiohttp==3.9.3
beautifulsoup4==4.12.3
fastapi==0.110.0
humps==0.2.2
openai==0.28.1
Pillow==10.2.0
pydantic==1.10.12
pytest==8.1.1
python-dotenv==1.0.0
redis[hiredis]==5.0.3
requests==2.31.0
sse-starlette==1.8.2
termcolor==2.4.0
tiktoken==0.6.0
uvicorn[standard]==0.29.0
requests-toolbelt==1.0.0